#title{color: cadetblue; font-size: xx-large; }
.title2{color: blue; font-size: medium; text-decoration: underline;} /*!important :우선순위 제일 높음*/
.title3{color: red; font-size: small;}
 h1,.title3{color: red;}

.naver{color: green; }

